body{
  color: #40514E;
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 1.5em}


h1 {margin: 50px auto 0 auto;
    line-height: 1;
font-family: 'Sacramento', cursive;
color:#9764c7;
font-size: 5.65rem
}

h2 {font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
font-weight: normal;
color: #9764c7;}

h3{font-family: 'Montserrat', sans-serif;
color: #3426a4;}

hr{border: dotted purple 6px;
   border-bottom:none;
 width: 4%;
margin: 100px auto;}

a{color: #9764c7;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;}

a:hover {color:#f1e4e4;}

.topc {background-color:#f1e4e4;
position: relative;
padding-top: 100px}
.middle-container{
margin: 100px auto;}

.bottom {background-color: indigo;}
.pcolor {color:#40514E;
font-family: 'Montez', cursive;
font-weight: bold;}
.contact-me {width:40%;
margin: 40px auto 60px;}
.img1 {border-radius:50%;}
.circular {border-radius:50%;
width: 30%;
float: left;
margin-right: 30px;}
.circular1 {border-radius:50%;
width: 30%;
margin-left: 100px;}

  .bottom-container{background-color: #3426a4;
  padding: 50px 0 50px;}

  .techstart {text-decoration: underline;}
  .bottom-cloud {position: absolute;
  left: 300px;
bottom: 300px; }
.top-cloud {position: absolute;
right: 300px;
top: 50px; }
.skill-row {width: 50%;
margin:100px auto 100px auto;
text-align: left;
line-height: 1.5;}
.buttonstyle {background-color: #3426a4; color: white;
  padding: 15px 32px;
  text-align: center;
border-radius: 12px;
border: none;}
.copyright {color: #40514E;
font-size: 0.75rem;
padding: 20px 0;}
